/*Stylesheet for gbryant.co.uk*/

.infocontainer {
	margin: 0em;
	padding: 0em;

	background-color: #F00;
}

.header {
	padding: 1em;

	background-color: #FF0;

	font-family: "Open Sans";
	font-weight: 800;
	font-size: 3em;
	text-align: center;
}

.navbar {
	margin: 0;
	padding-left: 0.75em;
	padding-right: 0.75em;

	background-color: #CCC;
}

.navlink {
	padding: 1em;
	float: left;

	background-color: #CCC;
}

.navlink:hover {
	background-color: #BBB;
}

.bodycontainer {
	margin-top: 5em;
	float: none;
}

.footercontainer {
	float: none;
}

.page {
	min-width: 800px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;

	background-color: transparent;
}

body {
	margin: 0em;
	padding: 0.5em;

	font-family: "Source Sans Pro";
}